<div class="feedy">
    <div class="feedy-header">
        <a href="{{ path('pagePerso', {'login' : publication.auteur.login}) }}">
            <img class="avatar"
                    {% set photo = (publication.auteur.nomPhotoProfil is null) ? "anonyme.jpg" :  "uploads/" ~ publication.auteur.nomPhotoProfil %}
                 src="{{ asset("img/utilisateurs/" ~ photo) }}"
                 alt="avatar de l'utilisateur">
        </a>
        <div class="feedy-info">

            <span
                    {% if publication.auteur.premium == true %}
                         class="premium-login"
                    {% endif %}
                    >{{ publication.auteur.login }}
            </span>
            <span> - </span>
            <span>{{ publication.datePublication|date("d/m/Y") }}</span>
            <p>{{ publication.message }}</p>
            {% if is_granted('ROLE_USER') and app.user.login == publication.auteur.login %}
                <!-- Utilisateur connecté -->
                <button class="delete-feedy" data-publication-id="{{ publication.id }}">Supprimer</button>
            {% endif %}
        </div>
    </div>
</div>