<div class="feedy">
    <div class="feedy-header">
        <a href="{{ path('pagePerso', {'login' : publication.auteur.login}) }}">
            <img class="avatar"
                    {% set photo = (publication.auteur.nomPhotoProfil is null) ? "anonyme.jpg" :  "uploads/" ~ publication.auteur.nomPhotoProfil %}
                 src="{{ asset("img/utilisateurs/" ~ photo) }}"
                 alt="avatar de l'utilisateur">
        </a>
        <div class="feedy-info">
            <span>{{ publication.auteur.login }}</span>
            <span> - </span>
            <span>{{ publication.datePublication|date("d/m/Y") }}</span>
            <p>{{ publication.message }}</p>
        </div>
    </div>
</div>